.in-middle{
  display: flex;
}


@media only screen and (max-width: 600px){
  .in-middle{
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .mat-tab-group{
    width: 90%;
  }

  .main-card{
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .in-middle{
    justify-content: center;
    align-content: center;
  }

  .main-card{
    min-width: 800px;
    min-height: 400px;
  }

}
