<div class="in-middle">
  <div class="flex flex-col items-center w-100">
    <mat-tab-group dynamicHeight mat-align-tabs="center" (selectedIndexChange)="tabChange($event)">


      <mat-tab label="Search">
        <mat-card class="main-card">
          <app-search-friend></app-search-friend>
        </mat-card>
      </mat-tab>


      <mat-tab label="Friends">
        <mat-card class="main-card">
          <div *ngIf="show === 'Friends'">
            <app-friends-management [show]="show"></app-friends-management>
          </div>
        </mat-card>
      </mat-tab>


      <mat-tab label="New Requests">
        <mat-card class="main-card">
          <div *ngIf="show === 'Requests'">
            <app-friends-management [show]="show"></app-friends-management>
          </div>
        </mat-card>
      </mat-tab>


      <mat-tab label="Blocked Users">
        <mat-card class="main-card">
          <div *ngIf="show === 'Blocked'">
            <app-friends-management [show]="show"></app-friends-management>
          </div>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
