<div class="in-middle">
  <div class="main flex items-center">

    <div class="wrapper">
      <div class="side-panel">
        <button mat-button color="primary" class="mb-4 w-100" (click)="openDialog()">
          Add post
        </button>
        <mat-card>
          <h3 style="color: #ffc107" class="text-center">Online friends</h3>
          <hr>
          <div *ngFor="let friend of online" class="pt-2 friend">
            <span class="username">{{friend.userName}}</span>
            <br>
            <span class="opacity-80">{{friend.email}}</span>
          </div>
        </mat-card>
        <button mat-button color="primary" (click)="sendMessage()">SEND</button>
      </div>


      <div class="main-content">
        <app-posts [obs$]="obs.asObservable()"></app-posts>
      </div>

    </div>

  </div>
</div>

