<div class="in-middle">
  <div class="main flex flex-col items-center">


    <div class="flex w-100">
      <div class="side-panel">
        <button mat-button color="primary" class="mb-4 w-100" (click)="openDialog()">
          Add post
        </button>
        <mat-card>
          Online friends adsfasdfa fadsfasdfasd
        </mat-card>
      </div>
      <div class="main-content">
        <mat-card>
          <app-post></app-post>
          <app-post></app-post>
          <app-post></app-post>
          <app-post></app-post>
          <app-post></app-post>
        </mat-card>
      </div>

    </div>

  </div>
</div>

