.center{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-form{
  font-size: 20px;
}

@media only screen and(min-width: 600px) {
  .my-form{
    width: 400px;
  }
}

@media only screen and(max-width: 600px) {
  .my-form{
    width: 90%;
  }
}
